<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>My Note</title>
  <link rel="stylesheet" href="css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>

<body>
  	<body ng-app='NoteApp'>
		<div class="container" ng-controller="NoteCtrl">
		    <section class="Noteapp">
		        <header class="header">
		            <form ng-submit='addNoteSubmit()'>	            	
		            	<input class="new-Note" autofocus="" autocomplete="off" placeholder="Take a note..." ng-model='memo'>
		            </form>
		        </header>
		        <section class="main">
		            <ul class="Note-list">
		                <li class="Note"  ng-repeat='NoteList in NoteLists' >
		                    <div class="view">
		                        <label ng-click='NoteEdit(NoteList)'>{{NoteList.memo}}</label>
		                        <button class="remove" ng-click='NoteDel(NoteList)'></button>
		                    </div>
		                </li>
		            </ul>
		        </section>
		        <footer class="footer">
		            <span class="Note-count"><strong>{{NoteLists.length}}</strong> items</span>
		        </footer>
		    </section>
		    <footer class="info">
		        <p>to edit a note, simply click on it</p>
		    </footer>			
		</div>
	</body>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
<script src='https://cdn.firebase.com/js/client/2.2.4/firebase.js'></script>
<script src='https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js'></script>
<script src="js/index.js"></script>
</body>
</html>
